# Data Storytelling Project: SAT New York

**Objectives:**
* Analyse SAT scores + demographics and any other relevant information available
* Check fairness of the [SAT](https://www.insidehighered.com/news/2010/06/21/sat)

In [1]:
import pandas as pd
import numpy as np

## Understanding the data

### Read data into dataframe, put each dataframe into a dictionary

In [2]:
files = ["AP_results.csv", "Class_size.csv", "Demographics.csv", "Graduation_outcomes.csv", "hsdirectory.csv", "Math_test_results.csv", "SAT_results.csv"]
data = {}
for f in files:
    print f
    d = pd.read_csv("data/{}".format(f))
    data[f.replace(".csv", "")] = d

AP_results.csv
Class_size.csv
Demographics.csv
Graduation_outcomes.csv
hsdirectory.csv
Math_test_results.csv
SAT_results.csv

### Check dictionary

In [3]:
for k,v in data.items():
    print("\n" + k + "\n")
    print(v.head())

Math_test_results

      DBN Grade  Year      Category  Number Tested Mean Scale Score Level 1 #  \
0  01M015     3  2006  All Students             39              667         2
1  01M015     3  2007  All Students             31              672         2
2  01M015     3  2008  All Students             37              668         0
3  01M015     3  2009  All Students             33              668         0
4  01M015     3  2010  All Students             26              677         6

  Level 1 % Level 2 # Level 2 % Level 3 # Level 3 % Level 4 # Level 4 %  \
0      5.1%        11     28.2%        20     51.3%         6     15.4%
1      6.5%         3      9.7%        22       71%         4     12.9%
2        0%         6     16.2%        29     78.4%         2      5.4%
3        0%         4     12.1%        28     84.8%         1        3%
4     23.1%        12     46.2%         6     23.1%         2      7.7%

  Level 3+4 # Level 3+4 %
0          26       66.7%
1          26       83.9%
2          31       83.8%
3          29       87.9%
4           8       30.8%

SAT_results

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

Demographics

      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN
3  01M015  P.S. 015 ROBERTO CLEMENTE    20082009       89.4          NaN
4  01M015  P.S. 015 ROBERTO CLEMENTE    20092010                    96.5

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5
3               252   17  37     44     32    ...            75      29.8
4               208   16  40     28     32    ...            67      32.2

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0
3          149         59.1         7       2.8    149.0     59.1      103.0
4          118         56.7         6       2.9    124.0     59.6       84.0

  female_per
0       43.8
1       42.4
2       45.2
3       40.9
4       40.4

[5 rows x 38 columns]

AP_results

      DBN                             SchoolName AP Test Takers   \
0  01M448           UNIVERSITY NEIGHBORHOOD H.S.              39
1  01M450                 EAST SIDE COMMUNITY HS              19
2  01M515                    LOWER EASTSIDE PREP              24
3  01M539         NEW EXPLORATIONS SCI,TECH,MATH             255
4  02M296  High School of Hospitality Management               s

  Total Exams Taken Number of Exams with scores 3 4 or 5
0                49                                   10
1                21                                    s
2                26                                   24
3               377                                  191
4                 s                                    s

Graduation_outcomes

    Demographic     DBN                            School Name    Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2005
3  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL      2006
4  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL  2006 Aug

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27
3            78              43                     55.1%                36
4            78              44                     56.4%                37

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                       30.9%                      45.9%
2                       42.2%                      62.8%
3                       46.2%                      83.7%
4                       47.4%                      84.1%

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27
3            ...                                  36
4            ...                                  37

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                              30.9%                             45.9%
2                              42.2%                             62.8%
3                              46.2%                             83.7%
4                              47.4%                             84.1%

  Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0         s                   s                    s                  s
1        20               36.4%                54.1%                 15
2        16                 25%  37.200000000000003%                  9
3         7                  9%                16.3%                 16
4         7                  9%                15.9%                 15

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                        27.3%               3                      5.5%
2                        14.1%               9                     14.1%
3                        20.5%              11                     14.1%
4                        19.2%              11                     14.1%

[5 rows x 23 columns]

Class_size

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED
3    1       M        M015  P.S. 015 Roberto Clemente     01          CTT
4    1       M        M015  P.S. 015 Roberto Clemente     02       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -
3                                    -                                   -
4                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0
3                           -                               17.0
4                           -                               15.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0
3                 1.0                17.0                    17.0
4                 1.0                15.0                    15.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN
3                   17.0         ATS                             NaN
4                   15.0         ATS                             NaN

hsdirectory

      dbn                                        school_name       boro  \
0  17K548                Brooklyn School for Music & Theatre   Brooklyn
1  09X543                   High School for Violin and Dance      Bronx
2  09X327        Comprehensive Model School Project M.S. 327      Bronx
3  02M280     Manhattan Early College School for Advertising  Manhattan
4  28Q680  Queens Gateway to Health Sciences Secondary Sc...     Queens

  building_code    phone_number    fax_number grade_span_min  grade_span_max  \
0          K440    718-230-6250  718-230-6262              9              12
1          X400    718-842-0687  718-589-9849              9              12
2          X240    718-294-8111  718-294-8109              6              12
3          M520  718-935-3477             NaN              9              10
4          Q695    718-969-3155  718-969-3552              6              12

  expgrade_span_min  expgrade_span_max  \
0               NaN                NaN
1               NaN                NaN
2               NaN                NaN
3                 9               14.0
4               NaN                NaN

                         ...                          \
0                        ...
1                        ...
2                        ...
3                        ...
4                        ...

                                          priority02  \
0                    Then to New York City residents
1  Then to New York City residents who attend an ...
2  Then to Bronx students or residents who attend...
3  Then to New York City residents who attend an ...
4  Then to Districts 28 and 29 students or residents

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...
3          Then to Manhattan students or residents
4               Then to Queens students or residents

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents
3      Then to New York City residents                              NaN
4      Then to New York City residents                              NaN

  priority06  priority07 priority08  priority09 priority10  \
0        NaN         NaN        NaN         NaN        NaN
1        NaN         NaN        NaN         NaN        NaN
2        NaN         NaN        NaN         NaN        NaN
3        NaN         NaN        NaN         NaN        NaN
4        NaN         NaN        NaN         NaN        NaN

                                          Location 1
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...
3  411 Pearl Street\nNew York, NY 10038\n(40.7106...
4  160-20 Goethals Avenue\nJamaica, NY 11432\n(40...

[5 rows x 58 columns]

**Patterns/preliminary analysis:**

* District Borough Number (DBN): Math_test_results, SAT_results, Demographics, AP_results, Graduation_outcomes, hsdirectory
* School name: SAT_results, AP_results, Graduation_outcomes, Class_size, hsdirectory
* Location1 field in hsdirectory can be used for maps

### Data unification

This makes working with all the data an easier process.
DBN is a common column, it just doesnt appear in Class_size - unless School code is DBN.

I will check how DBN looks and compare against Class_size to try to recognize a pattern

In [4]:
data["AP_results"]["DBN"].head()

0    01M448
1    01M450
2    01M515
3    01M539
4    02M296
Name: DBN, dtype: object

In [5]:
data["Class_size"].head()

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN

It looks like DBN is combination of CSD, BOROUGH, and SCHOOL CODE.

from [string format](https://docs.python.org/2/library/stdtypes.html#str.format) [documentation](https://docs.python.org/3/library/string.html#format-string-syntax):

{:02d}

02d formats an integer (d) to a field of minimum width 2 (2), with zero-padding on the left (leading 0)

In [6]:
data["Class_size"]["DBN"] = data["Class_size"].apply(lambda x: "{0:02d}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
data["hsdirectory"]["DBN"] = data["hsdirectory"]["dbn"]

In [7]:
data["Class_size"].head(3)

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015

I will now combine the survey data into one:

In [8]:
survey1 = pd.read_csv("./data/survey/masterfile11_gened_final.txt", delimiter="\t")
survey2 = pd.read_csv("./data/survey/masterfile11_d75_final.txt", delimiter="\t")

In [9]:
survey1.head(3)

,dbn,bn,schoolname,d75,studentssurveyed,highschool,schooltype,rr_s,rr_t,rr_p,...,s_N_q14e_3,s_N_q14e_4,s_N_q14f_1,s_N_q14f_2,s_N_q14f_3,s_N_q14f_4,s_N_q14g_1,s_N_q14g_2,s_N_q14g_3,s_N_q14g_4
0,01M015,M015,P.S. 015 Roberto Clemente,0,No,0.0,Elementary School,NaN,88,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,01M019,M019,P.S. 019 Asher Levy,0,No,0.0,Elementary School,NaN,100,60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,01M020,M020,P.S. 020 Anna Silver,0,No,0.0,Elementary School,NaN,88,73,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
survey2.head(3)

,dbn,bn,schoolname,d75,studentssurveyed,highschool,schooltype,rr_s,rr_t,rr_p,...,s_q14_2,s_q14_3,s_q14_4,s_q14_5,s_q14_6,s_q14_7,s_q14_8,s_q14_9,s_q14_10,s_q14_11
0,75K004,K004,P.S. K004,1,Yes,0.0,District 75 Special Education,38.0,90,72,...,29.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,75K036,K036,P.S. 36,1,Yes,NaN,District 75 Special Education,70.0,69,44,...,20.0,27.0,19.0,9.0,2.0,6.0,1.0,2.0,0.0,0.0
2,75K053,K053,P.S. K053,1,Yes,NaN,District 75 Special Education,94.0,97,53,...,14.0,12.0,12.0,10.0,21.0,13.0,11.0,2.0,0.0,0.0

Add 'False' to the d75 field in survey one (which corresponds to all schools) and 'True' to survey2 (which corresponds to school district 75)

In [11]:
survey1["d75"] = False
survey2["d75"] = True

Concatenate survey1 and survey2 vertically

In [12]:
survey = pd.concat([survey1, survey2], axis=0)

In [13]:
survey.head()

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22.0,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34.0,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42.0,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29.0,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23.0,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

Check data dictionary file (Survey Data Dictionary.xls) to define which columns are relevant

In [14]:
survey["DBN"] = survey["dbn"]
survey_fields = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_10", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11",]

In [15]:
survey.head()

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5,DBN
0,90.0,NaN,22.0,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0,01M015
1,161.0,NaN,34.0,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0,01M019
2,367.0,NaN,42.0,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0,01M020
3,151.0,145.0,29.0,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0,01M034
4,90.0,NaN,23.0,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0,01M063

In [16]:
# getting only the relevant fields
# note that '.loc' was used because it works on lables. If I was working on the positions in the index, I would use iloc
survey = survey.loc[:,survey_fields]

In [17]:
survey.head()

,DBN,rr_s,rr_t,rr_p,N_s,N_t,N_p,saf_p_11,com_p_11,eng_p_11,...,eng_t_10,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11
0,01M015,NaN,88,60,NaN,22.0,90.0,8.5,7.6,7.5,...,NaN,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9
1,01M019,NaN,100,60,NaN,34.0,161.0,8.4,7.6,7.6,...,NaN,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4
2,01M020,NaN,88,73,NaN,42.0,367.0,8.9,8.3,8.3,...,NaN,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0
3,01M034,89.0,73,50,145.0,29.0,151.0,8.8,8.2,8.0,...,NaN,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9
4,01M063,NaN,100,60,NaN,23.0,90.0,8.7,7.9,8.1,...,NaN,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0

I need to add the survey to the data dictionary

In [18]:
data["survey"] = survey
#survey.shape

In [19]:
data['survey'].head()

,DBN,rr_s,rr_t,rr_p,N_s,N_t,N_p,saf_p_11,com_p_11,eng_p_11,...,eng_t_10,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11
0,01M015,NaN,88,60,NaN,22.0,90.0,8.5,7.6,7.5,...,NaN,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9
1,01M019,NaN,100,60,NaN,34.0,161.0,8.4,7.6,7.6,...,NaN,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4
2,01M020,NaN,88,73,NaN,42.0,367.0,8.9,8.3,8.3,...,NaN,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0
3,01M034,89.0,73,50,145.0,29.0,151.0,8.8,8.2,8.0,...,NaN,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9
4,01M063,NaN,100,60,NaN,23.0,90.0,8.7,7.9,8.1,...,NaN,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0

### Checking the datasets

In [20]:
for k,v in data.items():
    print("\n" + k + "\n")
    print(v.head(3))

Math_test_results

      DBN Grade  Year      Category  Number Tested Mean Scale Score Level 1 #  \
0  01M015     3  2006  All Students             39              667         2
1  01M015     3  2007  All Students             31              672         2
2  01M015     3  2008  All Students             37              668         0

  Level 1 % Level 2 # Level 2 % Level 3 # Level 3 % Level 4 # Level 4 %  \
0      5.1%        11     28.2%        20     51.3%         6     15.4%
1      6.5%         3      9.7%        22       71%         4     12.9%
2        0%         6     16.2%        29     78.4%         2      5.4%

  Level 3+4 # Level 3+4 %
0          26       66.7%
1          26       83.9%
2          31       83.8%

SAT_results

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402

  SAT Writing Avg. Score
0                    363
1                    366
2                    370

Demographics

      DBN                       Name  schoolyear fl_percent  frl_percent  \
0  01M015  P.S. 015 ROBERTO CLEMENTE    20052006       89.4          NaN
1  01M015  P.S. 015 ROBERTO CLEMENTE    20062007       89.4          NaN
2  01M015  P.S. 015 ROBERTO CLEMENTE    20072008       89.4          NaN

   total_enrollment prek   k grade1 grade2    ...     black_num black_per  \
0               281   15  36     40     33    ...            74      26.3
1               243   15  29     39     38    ...            68      28.0
2               261   18  43     39     36    ...            77      29.5

  hispanic_num hispanic_per white_num white_per male_num male_per female_num  \
0          189         67.3         5       1.8    158.0     56.2      123.0
1          153         63.0         4       1.6    140.0     57.6      103.0
2          157         60.2         7       2.7    143.0     54.8      118.0

  female_per
0       43.8
1       42.4
2       45.2

[3 rows x 38 columns]

AP_results

      DBN                    SchoolName AP Test Takers  Total Exams Taken  \
0  01M448  UNIVERSITY NEIGHBORHOOD H.S.              39                49
1  01M450        EAST SIDE COMMUNITY HS              19                21
2  01M515           LOWER EASTSIDE PREP              24                26

  Number of Exams with scores 3 4 or 5
0                                   10
1                                    s
2                                   24

survey

      DBN  rr_s  rr_t  rr_p  N_s   N_t    N_p  saf_p_11  com_p_11  eng_p_11  \
0  01M015   NaN    88    60  NaN  22.0   90.0       8.5       7.6       7.5
1  01M019   NaN   100    60  NaN  34.0  161.0       8.4       7.6       7.6
2  01M020   NaN    88    73  NaN  42.0  367.0       8.9       8.3       8.3

      ...      eng_t_10  aca_t_11  saf_s_11  com_s_11  eng_s_11  aca_s_11  \
0     ...           NaN       7.9       NaN       NaN       NaN       NaN
1     ...           NaN       9.1       NaN       NaN       NaN       NaN
2     ...           NaN       7.5       NaN       NaN       NaN       NaN

   saf_tot_11  com_tot_11  eng_tot_11  aca_tot_11
0         8.0         7.7         7.5         7.9
1         8.5         8.1         8.2         8.4
2         8.2         7.3         7.5         8.0

[3 rows x 23 columns]

Graduation_outcomes

    Demographic     DBN                            School Name Cohort  \
0  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2003
1  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2004
2  Total Cohort  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL   2005

   Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
0             5               s                         s                 s
1            55              37                     67.3%                17
2            64              43                     67.2%                27

  Total Regents - % of cohort Total Regents - % of grads  \
0                           s                          s
1                       30.9%                      45.9%
2                       42.2%                      62.8%

             ...            Regents w/o Advanced - n  \
0            ...                                   s
1            ...                                  17
2            ...                                  27

  Regents w/o Advanced - % of cohort Regents w/o Advanced - % of grads  \
0                                  s                                 s
1                              30.9%                             45.9%
2                              42.2%                             62.8%

  Local - n Local - % of cohort   Local - % of grads Still Enrolled - n  \
0         s                   s                    s                  s
1        20               36.4%                54.1%                 15
2        16                 25%  37.200000000000003%                  9

  Still Enrolled - % of cohort Dropped Out - n Dropped Out - % of cohort
0                            s               s                         s
1                        27.3%               3                      5.5%
2                        14.1%               9                     14.1%

[3 rows x 23 columns]

Class_size

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO     DBN
0                   19.0         ATS                             NaN  01M015
1                   21.0         ATS                             NaN  01M015
2                   17.0         ATS                             NaN  01M015

hsdirectory

      dbn                                  school_name      boro  \
0  17K548          Brooklyn School for Music & Theatre  Brooklyn
1  09X543             High School for Violin and Dance     Bronx
2  09X327  Comprehensive Model School Project M.S. 327     Bronx

  building_code  phone_number    fax_number grade_span_min  grade_span_max  \
0          K440  718-230-6250  718-230-6262              9              12
1          X400  718-842-0687  718-589-9849              9              12
2          X240  718-294-8111  718-294-8109              6              12

  expgrade_span_min  expgrade_span_max   ...    \
0               NaN                NaN   ...
1               NaN                NaN   ...
2               NaN                NaN   ...

                                          priority03  \
0                                                NaN
1                Then to Bronx students or residents
2  Then to New York City residents who attend an ...

                            priority04                       priority05  \
0                                  NaN                              NaN
1      Then to New York City residents                              NaN
2  Then to Bronx students or residents  Then to New York City residents

  priority06 priority07  priority08 priority09  priority10  \
0        NaN        NaN         NaN        NaN         NaN
1        NaN        NaN         NaN        NaN         NaN
2        NaN        NaN         NaN        NaN         NaN

                                          Location 1     DBN
0  883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...  17K548
1  1110 Boston Road\nBronx, NY 10456\n(40.8276026...  09X543
2  1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...  09X327

[3 rows x 59 columns]

Math_test_results, Demographics, Graduation_outcomes, Class_size have several rows for each high school (DBN and School name fields).

I will need to find a way to condensate the datasets above to "one row per high school". If that is not done, it won't be possible to compare the datasets.

** Class_size:**

In [21]:
data["Class_size"]

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,DBN
0,1,M,M015,P.S. 015 Roberto Clemente,0K,GEN ED,-,-,-,19.0,1.0,19.0,19.0,19.0,ATS,NaN,01M015
1,1,M,M015,P.S. 015 Roberto Clemente,0K,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M015
2,1,M,M015,P.S. 015 Roberto Clemente,01,GEN ED,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
3,1,M,M015,P.S. 015 Roberto Clemente,01,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
4,1,M,M015,P.S. 015 Roberto Clemente,02,GEN ED,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
5,1,M,M015,P.S. 015 Roberto Clemente,02,CTT,-,-,-,17.0,1.0,17.0,17.0,17.0,ATS,NaN,01M015
6,1,M,M015,P.S. 015 Roberto Clemente,03,GEN ED,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M015
7,1,M,M015,P.S. 015 Roberto Clemente,03,CTT,-,-,-,15.0,1.0,15.0,15.0,15.0,ATS,NaN,01M015
8,1,M,M015,P.S. 015 Roberto Clemente,04,GEN ED,-,-,-,26.0,2.0,13.0,12.0,14.0,ATS,NaN,01M015
9,1,M,M015,P.S. 015 Roberto Clemente,05,GEN ED,-,-,-,27.0,1.0,27.0,27.0,27.0,ATS,NaN,01M015
10,1,M,M015,P.S. 015 Roberto Clemente,0K-09,SPEC ED,-,-,12:1:1,9.0,1.0,9.0,9.0,9.0,ATS,NaN,01M015
11,1,M,M015,P.S. 015 Roberto Clemente,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,01M015
12,1,M,M019,P.S. 019 Asher Levy,0K,GEN ED,-,-,-,39.0,2.0,19.5,18.0,21.0,ATS,NaN,01M019
13,1,M,M019,P.S. 019 Asher Levy,0K,CTT,-,-,-,12.0,1.0,12.0,12.0,12.0,ATS,NaN,01M019
14,1,M,M019,P.S. 019 Asher Levy,01,GEN ED,-,-,-,39.0,2.0,19.5,19.0,20.0,ATS,NaN,01M019
15,1,M,M019,P.S. 019 Asher Levy,01,CTT,-,-,-,13.0,1.0,13.0,13.0,13.0,ATS,NaN,01M019
16,1,M,M019,P.S. 019 Asher Levy,02,GEN ED,-,-,-,46.0,2.0,23.0,22.0,24.0,ATS,NaN,01M019
17,1,M,M019,P.S. 019 Asher Levy,03,GEN ED,-,-,-,35.0,2.0,17.5,17.0,18.0,ATS,NaN,01M019
18,1,M,M019,P.S. 019 Asher Levy,04,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
19,1,M,M019,P.S. 019 Asher Levy,04,CTT,-,-,-,24.0,1.0,24.0,24.0,24.0,ATS,NaN,01M019
20,1,M,M019,P.S. 019 Asher Levy,05,GEN ED,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M019
21,1,M,M019,P.S. 019 Asher Levy,05,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M019
22,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1,7.0,1.0,7.0,7.0,7.0,ATS,NaN,01M019
23,1,M,M019,P.S. 019 Asher Levy,0K-09,SPEC ED,-,-,12:1:1,11.0,1.0,11.0,11.0,11.0,ATS,NaN,01M019
24,1,M,M019,P.S. 019 Asher Levy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,01M019
25,1,M,M020,P.S. 020 Anna Silver,0K,GEN ED,-,-,-,89.0,4.0,22.3,20.0,23.0,ATS,NaN,01M020
26,1,M,M020,P.S. 020 Anna Silver,0K,CTT,-,-,-,22.0,1.0,22.0,22.0,22.0,ATS,NaN,01M020
27,1,M,M020,P.S. 020 Anna Silver,01,GEN ED,-,-,-,69.0,3.0,23.0,22.0,24.0,ATS,NaN,01M020
28,1,M,M020,P.S. 020 Anna Silver,01,CTT,-,-,-,21.0,1.0,21.0,21.0,21.0,ATS,NaN,01M020
29,1,M,M020,P.S. 020 Anna Silver,02,GEN ED,-,-,-,55.0,3.0,18.3,16.0,21.0,ATS,NaN,01M020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27581,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SCIENCE,Other Science,-,313.0,12.0,26.1,18.0,33.0,STARS,NaN,32K556
27582,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,289.0,11.0,26.3,15.0,34.0,STARS,NaN,32K556
27583,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,128.0,5.0,25.6,13.0,32.0,STARS,NaN,32K556
27584,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Economics,-,59.0,2.0,29.5,26.0,33.0,STARS,NaN,32K556
27585,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,63.0,2.0,31.5,30.0,33.0,STARS,NaN,32K556
27586,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 9,-,14.0,1.0,14.0,14.0,14.0,STARS,NaN,32K556
27587,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 10,-,11.0,1.0,11.0,11.0,11.0,STARS,NaN,32K556
27588,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,ENGLISH,English 11,-,10.0,1.0,10.0,10.0,10.0,STARS,NaN,32K556
27589,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,MATH,Integrated Algebra,-,26.0,2.0,13.0,12.0,14.0,STARS,NaN,32K556
27590,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Earth Science,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27591,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Living Environment,-,25.0,2.0,12.5,12.0,13.0,STARS,NaN,32K556
27592,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SCIENCE,Chemistry,-,22.0,2.0,11.0,11.0,11.0,STARS,NaN,32K556
27593,32,K,K556,Bushwick Leaders High School for Academic Exce...,09-12,SPEC ED,SOCIAL STUDIES,Global History & Geography,-,36.0,3.0,12.0,10.0,14.0,STARS,NaN,32K556
27594,32,K,K556,Bushwick Leaders High School for Academic Exce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.7,32K556
27595,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 9,-,261.0,10.0,26.1,17.0,35.0,STARS,NaN,32K564
27596,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 10,-,102.0,4.0,25.5,17.0,30.0,STARS,NaN,32K564
27597,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 11,-,144.0,6.0,24.0,21.0,28.0,STARS,NaN,32K564
27598,32,K,K564,Bushwick Community High School,09-12,GEN ED,ENGLISH,English 12,-,132.0,5.0,26.4,19.0,29.0,STARS,NaN,32K564
27599,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Integrated Algebra,-,342.0,14.0,24.4,19.0,28.0,STARS,NaN,32K564
27600,32,K,K564,Bushwick Community High School,09-12,GEN ED,MATH,Math A,-,23.0,1.0,23.0,23.0,23.0,STARS,NaN,32K564
27601,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Earth Science,-,24.0,2.0,12.0,12.0,12.0,STARS,NaN,32K564
27602,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Living Environment,-,161.0,6.0,26.8,17.0,31.0,STARS,NaN,32K564
27603,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Chemistry,-,57.0,2.0,28.5,27.0,30.0,STARS,NaN,32K564
27604,32,K,K564,Bushwick Community High School,09-12,GEN ED,SCIENCE,Physics,-,49.0,2.0,24.5,22.0,27.0,STARS,NaN,32K564
27605,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Global History & Geography,-,237.0,10.0,23.7,15.0,31.0,STARS,NaN,32K564
27606,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,US History & Government,-,256.0,10.0,25.6,15.0,35.0,STARS,NaN,32K564
27607,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Economics,-,65.0,2.0,32.5,32.0,33.0,STARS,NaN,32K564
27608,32,K,K564,Bushwick Community High School,09-12,GEN ED,SOCIAL STUDIES,Participation in Government,-,53.0,2.0,26.5,25.0,28.0,STARS,NaN,32K564
27609,32,K,K564,Bushwick Community High School,09-12,CTT,MATH,Integrated Algebra,-,50.0,2.0,25.0,25.0,25.0,STARS,NaN,32K564
27610,32,K,K564,Bushwick Community High School,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.1,32K564

It looks like grade 9-12 corresponds to what I [want](https://www.justlanded.com/english/United-States/USA-Guide/Education/The-American-school-system).

From the dataset [description](https://data.cityofnewyork.us/Education/2010-2011-Class-Size-School-level-detail/urz7-pzb3), I've learnt that there are 3 program types:

"Average class sizes for each school, by grade and program type (General Education, Self-Contained Special Education, Collaborative Team Teaching (CTT)) for grades K-9 (where grade 9 is not reported by subject area), and for grades 5-9 (where available) and 9-12, aggregated by program type (General Education, CTT, and Self-Contained Special Education) and core course (e.g. English 9, Integrated Algebra, US History, etc.)."

I can focus on General Education for now.

To group the data, I will have to average the values. So I will group Class_size by DBN (so the data will be "one row per high school")  and average each column. I will get the average Class_size for each school

In [22]:
Class_size = data["Class_size"]
Class_size = Class_size[Class_size["GRADE "] == "09-12"]
Class_size = Class_size[Class_size["PROGRAM TYPE"] == "GEN ED"]
Class_size = Class_size.groupby("DBN").agg(np.mean)

In [23]:
Class_size.head()

,CSD,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
DBN,,,,,,,
01M292,1,88.0000,4.000000,22.564286,18.50,26.571429,NaN
01M332,1,46.0000,2.000000,22.000000,21.00,23.500000,NaN
01M378,1,33.0000,1.000000,33.000000,33.00,33.000000,NaN
01M448,1,105.6875,4.750000,22.231250,18.25,27.062500,NaN
01M450,1,57.6000,2.733333,21.200000,19.40,22.866667,NaN

DBN is now the index. It needs to be a "normal" column

In [24]:
Class_size.reset_index(inplace=True)
data["Class_size"] = Class_size

In [25]:
data["Class_size"].head()

,DBN,CSD,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,1,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,1,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,1,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,1,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,1,57.6000,2.733333,21.200000,19.40,22.866667,NaN

**Math_test_results:**

DBN has been entered by Grade and by Year, as data was collected for multiple years for the same schools

In [26]:
data["Math_test_results"]["Year"].max()

2011

The most recent year is 2011, which will be the one I will use then.

In [27]:
data["Math_test_results"] = data["Math_test_results"][data["Math_test_results"]["Year"] == 2011]

In [28]:
data["Math_test_results"].head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
5,01M015,3,2011,All Students,28,671,10,35.7%,13,46.4%,5,17.9%,0,0%,5,17.9%
11,01M015,4,2011,All Students,28,668,3,10.7%,14,50%,9,32.1%,2,7.1%,11,39.3%
17,01M015,5,2011,All Students,25,667,5,20%,8,32%,12,48%,0,0%,12,48%
24,01M015,All Grades,2011,All Students,81,669,18,22.2%,35,43.2%,26,32.1%,2,2.5%,28,34.6%
30,01M019,3,2011,All Students,34,679,2,5.9%,23,67.6%,7,20.6%,2,5.9%,9,26.5%

I will also need to select only one Grade, so I will pick the max one which is 8

In [29]:
data["Math_test_results"]["Grade"].dtype

dtype('O')

This is an object type. From [stackoverflow](https://stackoverflow.com/questions/34881079/pandas-distinction-between-str-and-object-types):

"As a very brief explanation that isn't a full answer: If you use a string dtype in numpy, it's fundamentally a fixed-width c-like string. In pandas, they're "normal" python strings, thus the object type"

(That's why it was not working when in the code below I did  == 8)

In [30]:
data["Math_test_results"] = data["Math_test_results"][data["Math_test_results"]["Grade"] == "8"]

In [31]:
data["Math_test_results"].head()

,DBN,Grade,Year,Category,Number Tested,Mean Scale Score,Level 1 #,Level 1 %,Level 2 #,Level 2 %,Level 3 #,Level 3 %,Level 4 #,Level 4 %,Level 3+4 #,Level 3+4 %
111,01M034,8,2011,All Students,48,646,15,31.3%,22,45.8%,11,22.9%,0,0%,11,22.9%
280,01M140,8,2011,All Students,61,665,1,1.6%,43,70.5%,17,27.9%,0,0%,17,27.9%
346,01M184,8,2011,All Students,49,727,0,0%,0,0%,5,10.2%,44,89.8%,49,100%
388,01M188,8,2011,All Students,49,658,10,20.4%,26,53.1%,10,20.4%,3,6.1%,13,26.5%
411,01M292,8,2011,All Students,49,650,15,30.6%,25,51%,7,14.3%,2,4.1%,9,18.4%

**Demographics:**

In [32]:
data["Demographics"]

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
0,01M015,P.S. 015 ROBERTO CLEMENTE,20052006,89.4,NaN,281,15,36,40,33,...,74,26.3,189,67.3,5,1.8,158.0,56.2,123.0,43.8
1,01M015,P.S. 015 ROBERTO CLEMENTE,20062007,89.4,NaN,243,15,29,39,38,...,68,28.0,153,63.0,4,1.6,140.0,57.6,103.0,42.4
2,01M015,P.S. 015 ROBERTO CLEMENTE,20072008,89.4,NaN,261,18,43,39,36,...,77,29.5,157,60.2,7,2.7,143.0,54.8,118.0,45.2
3,01M015,P.S. 015 ROBERTO CLEMENTE,20082009,89.4,NaN,252,17,37,44,32,...,75,29.8,149,59.1,7,2.8,149.0,59.1,103.0,40.9
4,01M015,P.S. 015 ROBERTO CLEMENTE,20092010,,96.5,208,16,40,28,32,...,67,32.2,118,56.7,6,2.9,124.0,59.6,84.0,40.4
5,01M015,P.S. 015 ROBERTO CLEMENTE,20102011,,96.5,203,13,37,35,33,...,75,36.9,110,54.2,4,2.0,113.0,55.7,90.0,44.3
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
7,01M019,P.S. 019 ASHER LEVY,20052006,61.5,NaN,402,15,43,55,53,...,103,25.6,207,51.5,39,9.7,214.0,53.2,188.0,46.8
8,01M019,P.S. 019 ASHER LEVY,20062007,61.5,NaN,312,13,37,45,52,...,70,22.4,172,55.1,19,6.1,157.0,50.3,155.0,49.7
9,01M019,P.S. 019 ASHER LEVY,20072008,61.5,NaN,338,28,48,46,47,...,72,21.3,186,55.0,22,6.5,162.0,47.9,176.0,52.1
10,01M019,P.S. 019 ASHER LEVY,20082009,61.5,NaN,325,33,44,56,44,...,83,25.5,149,45.8,32,9.8,156.0,48.0,169.0,52.0
11,01M019,P.S. 019 ASHER LEVY,20092010,,82.0,321,35,48,49,56,...,87,27.1,137,42.7,35,10.9,154.0,48.0,167.0,52.0
12,01M019,P.S. 019 ASHER LEVY,20102011,,82.0,328,36,53,53,47,...,89,27.1,155,47.3,31,9.5,155.0,47.3,173.0,52.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
14,01M020,PS 020 ANNA SILVER,20052006,92.5,NaN,835,34,91,141,115,...,43,5.1,503,60.2,10,1.2,389.0,46.6,446.0,53.4
15,01M020,PS 020 ANNA SILVER,20062007,92.5,NaN,655,36,101,106,101,...,36,5.5,414,63.2,10,1.5,315.0,48.1,340.0,51.9
16,01M020,PS 020 ANNA SILVER,20072008,92.5,NaN,610,36,81,107,94,...,46,7.5,397,65.1,13,2.1,293.0,48.0,317.0,52.0
17,01M020,PS 020 ANNA SILVER,20082009,92.5,NaN,593,36,88,91,100,...,55,9.3,376,63.4,9,1.5,286.0,48.2,307.0,51.8
18,01M020,PS 020 ANNA SILVER,20092010,,97.1,594,52,88,89,80,...,59,9.9,355,59.8,12,2.0,315.0,53.0,279.0,47.0
19,01M020,PS 020 ANNA SILVER,20102011,,97.1,625,54,118,98,84,...,51,8.2,374,59.8,17,2.7,333.0,53.3,292.0,46.7
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
21,01M034,PS 034 FRANKLIN D ROOSEVELT,20052006,76.8,NaN,438,12,29,40,46,...,88,20.1,313,71.5,6,1.4,223.0,50.9,215.0,49.1
22,01M034,PS 034 FRANKLIN D ROOSEVELT,20062007,76.8,NaN,397,11,26,29,34,...,87,21.9,289,72.8,6,1.5,205.0,51.6,192.0,48.4
23,01M034,PS 034 FRANKLIN D ROOSEVELT,20072008,76.8,NaN,420,18,30,32,33,...,88,21.0,301,71.7,9,2.1,210.0,50.0,210.0,50.0
24,01M034,PS 034 FRANKLIN D ROOSEVELT,20082009,77,NaN,424,16,35,30,34,...,87,20.5,295,69.6,9,2.1,214.0,50.5,210.0,49.5
25,01M034,PS 034 FRANKLIN D ROOSEVELT,20092010,,93.9,410,15,32,38,31,...,86,21.0,280,68.3,6,1.5,212.0,51.7,198.0,48.3
26,01M034,PS 034 FRANKLIN D ROOSEVELT,20102011,,99.2,393,17,29,38,43,...,81,20.6,270,68.7,10,2.5,199.0,50.6,194.0,49.4
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
28,01M056,JHS 056 CORLEARS,20052006,84.7,NaN,173,NaN,NaN,NaN,NaN,...,22,12.7,66,38.2,4,2.3,94.0,54.3,79.0,45.7
29,01M063,PS 063 WILLIAM MCKINLEY,20052006,63.9,NaN,240,11,35,35,36,...,40,16.7,153,63.8,12,5.0,132.0,55.0,108.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10045,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20102011,,82.9,420,NaN,NaN,NaN,NaN,...,122,29.0,288,68.6,4,1.0,204.0,48.6,216.0,51.4
10046,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,20112012,NaN,75.1,434,,,,,...,123,28.3,298,68.7,8,1.8,210.0,48.4,224.0,51.6
10047,32K552,ACADEMY OF URBAN PLANNING,20052006,97.2,NaN,363,NaN,NaN,NaN,NaN,...,112,30.9,239,65.8,3,0.8,193.0,53.2,170.0,46.8
10048,32K552,ACADEMY OF URBAN PLANNING,20062007,62.1,NaN,458,NaN,NaN,NaN,NaN,...,160,34.9,278,60.7,4,0.9,228.0,49.8,230.0,50.2
10049,32K552,ACADEMY OF URBAN PLANNING,20072008,77.6,NaN,484,NaN,NaN,NaN,NaN,...,165,34.1,297,61.4,7,1.4,231.0,47.7,253.0,52.3
10050,32K552,ACADEMY OF URBAN PLANNING,20082009,66.9,NaN,461,NaN,NaN,NaN,NaN,...,168,36.4,283,61.4,6,1.3,213.0,46.2,248.0,53.8
10051,32K552,ACADEMY OF URBAN PLANNING,20092010,,74.4,469,NaN,NaN,NaN,NaN,...,163,34.8,292,62.3,8,1.7,231.0,49.3,238.0,50.7
10052,32K552,ACADEMY OF URBAN PLANNING,20102011,,75.2,471,NaN,NaN,NaN,NaN,...,146,31.0,310,65.8,8,1.7,248.0,52.7,223.0,47.3
10053,32K552,ACADEMY OF URBAN PLANNING,20112012,NaN,77.1,398,,,,,...,105,26.4,280,70.4,4,1.0,217.0,54.5,181.0,45.5
10054,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20052006,89.2,NaN,237,NaN,NaN,NaN,NaN,...,53,22.4,174,73.4,1,0.4,120.0,50.6,117.0,49.4
10055,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20062007,93.2,NaN,255,NaN,NaN,NaN,NaN,...,62,24.3,184,72.2,0,0.0,131.0,51.4,124.0,48.6
10056,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20072008,96.1,NaN,266,NaN,NaN,NaN,NaN,...,58,21.8,200,75.2,0,0.0,133.0,50.0,133.0,50.0
10057,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20082009,92.8,NaN,257,NaN,NaN,NaN,NaN,...,52,20.2,201,78.2,0,0.0,133.0,51.8,124.0,48.2
10058,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20092010,,94.2,251,NaN,NaN,NaN,NaN,...,46,18.3,201,80.1,0,0.0,137.0,54.6,114.0,45.4
10059,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20102011,,93.6,238,NaN,NaN,NaN,NaN,...,42,17.6,189,79.4,1,0.4,128.0,53.8,110.0,46.2
10060,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,20112012,NaN,81.4,263,,,,,...,34,12.9,209,79.5,4,1.5,137.0,52.1,126.0,47.9
10061,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20052006,86.1,NaN,300,NaN,NaN,NaN,NaN,...,54,18.0,231,77.0,1,0.3,122.0,40.7,178.0,59.3
10062,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20062007,89.1,NaN,417,NaN,NaN,NaN,NaN,...,72,17.3,332,79.6,2,0.5,172.0,41.2,245.0,58.8
10063,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20072008,86.6,NaN,458,NaN,NaN,NaN,NaN,...,76,16.6,373,81.4,2,0.4,192.0,41.9,266.0,58.1
10064,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20082009,86.4,NaN,489,NaN,NaN,NaN,NaN,...,78,16.0,400,81.8,4,0.8,225.0,46.0,264.0,54.0
10065,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20092010,,94.4,481,NaN,NaN,NaN,NaN,...,81,16.8,391,81.3,2,0.4,245.0,50.9,236.0,49.1
10066,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20102011,,96.7,500,NaN,NaN,NaN,NaN,...,92,18.4,402,80.4,1,0.2,270.0,54.0,230.0,46.0
10067,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELL,20112012,NaN,88.0,462,,,,,...,98,21.2,357,77.3,0,0.0,246.0,53.2,216.0,46.8
10068,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20052006,86.5,NaN,357,NaN,NaN,NaN,NaN,...,132,37.0,219,61.3,4,1.1,158.0,44.3,199.0,55.7
10069,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20062007,86.5,NaN,370,NaN,NaN,NaN,NaN,...,160,43.2,202,54.6,6,1.6,161.0,43.5,209.0,56.5
10070,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20072008,85.6,NaN,355,NaN,NaN,NaN,NaN,...,151,42.5,198,55.8,5,1.4,181.0,51.0,174.0,49.0
10071,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20082009,65.2,NaN,383,NaN,NaN,NaN,NaN,...,132,34.5,245,64.0,2,0.5,206.0,53.8,177.0,46.2
10072,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20092010,,89.2,395,NaN,NaN,NaN,NaN,...,146,37.0,242,61.3,3,0.8,199.0,50.4,196.0,49.6
10073,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20102011,,88.2,420,NaN,NaN,NaN,NaN,...,166,39.5,242,57.6,8,1.9,209.0,49.8,211.0,50.2
10074,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,20112012,NaN,81.8,382,,,,,...,137,35.9,235,61.5,7,1.8,169.0,44.2,213.0,55.8

Again data was collected for multiple years for the same school

In [33]:
data["Demographics"]["schoolyear"].dtype

dtype('int64')

In [34]:
data["Demographics"] = data["Demographics"][data["Demographics"]["schoolyear"] == 20112012]

In [35]:
data["Demographics"].head(3)

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3

**Graduation_outcomes:**

In [36]:
data["Graduation_outcomes"]

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2003,5,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
1,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2004,55,37,67.3%,17,30.9%,45.9%,...,17,30.9%,45.9%,20,36.4%,54.1%,15,27.3%,3,5.5%
2,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2005,64,43,67.2%,27,42.2%,62.8%,...,27,42.2%,62.8%,16,25%,37.200000000000003%,9,14.1%,9,14.1%
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
4,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006 Aug,78,44,56.4%,37,47.4%,84.1%,...,37,47.4%,84.1%,7,9%,15.9%,15,19.2%,11,14.1%
5,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2001,64,46,71.900000000000006%,32,50%,69.599999999999994%,...,25,39.1%,54.3%,14,21.9%,30.4%,10,15.6%,6,9.4%
6,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2002,52,33,63.5%,19,36.5%,57.6%,...,11,21.2%,33.299999999999997%,14,26.9%,42.4%,16,30.8%,1,1.9%
7,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2003,87,67,77%,39,44.8%,58.2%,...,28,32.200000000000003%,41.8%,28,32.200000000000003%,41.8%,9,10.3%,11,12.6%
8,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2004,112,75,67%,36,32.1%,48%,...,30,26.8%,40%,39,34.799999999999997%,52%,33,29.5%,4,3.6%
9,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2005,121,64,52.9%,35,28.9%,54.7%,...,31,25.6%,48.4%,29,24%,45.3%,41,33.9%,11,9.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
11,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006 Aug,124,60,48.4%,42,33.9%,70%,...,34,27.4%,56.7%,18,14.5%,30%,39,31.5%,20,16.100000000000001%
12,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2001,61,41,67.2%,40,65.599999999999994%,97.6%,...,40,65.599999999999994%,97.6%,1,1.6%,2.4%,7,11.5%,12,19.7%
13,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2002,72,45,62.5%,45,62.5%,100%,...,45,62.5%,100%,0,0%,0%,18,25%,7,9.699999999999999%
14,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2003,79,49,62%,44,55.7%,89.8%,...,44,55.7%,89.8%,5,6.3%,10.199999999999999%,20,25.3%,10,12.7%
15,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2004,80,58,72.5%,48,60%,82.8%,...,48,60%,82.8%,10,12.5%,17.2%,13,16.3%,9,11.3%
16,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2005,85,61,71.8%,58,68.2%,95.1%,...,58,68.2%,95.1%,3,3.5%,4.9%,11,12.9%,9,10.6%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
18,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006 Aug,90,71,78.900000000000006%,68,75.599999999999994%,95.8%,...,68,75.599999999999994%,95.8%,3,3.3%,4.2%,14,15.6%,5,5.6%
19,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2001,69,34,49.3%,6,8.699999999999999%,17.600000000000001%,...,6,8.699999999999999%,17.600000000000001%,28,40.6%,82.4%,19,27.5%,10,14.5%
20,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2002,55,22,40%,11,20%,50%,...,7,12.7%,31.8%,11,20%,50%,18,32.700000000000003%,11,20%
21,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2003,70,31,44.3%,22,31.4%,71%,...,22,31.4%,71%,9,12.9%,29%,20,28.6%,18,25.7%
22,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2004,65,29,44.6%,13,20%,44.8%,...,10,15.4%,34.5%,16,24.6%,55.2%,27,41.5%,8,12.3%
23,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2005,88,49,55.7%,38,43.2%,77.599999999999994%,...,20,22.7%,40.799999999999997%,11,12.5%,22.4%,20,22.7%,14,15.9%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
25,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006 Aug,84,50,59.5%,41,48.8%,82%,...,23,27.4%,46%,9,10.7%,18%,22,26.2%,5,6%
26,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2001,166,88,53%,36,21.7%,40.9%,...,36,21.7%,40.9%,53,31.9%,60.2%,45,27.1%,30,18.100000000000001%
27,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2002,172,77,44.8%,53,30.8%,68.8%,...,53,30.8%,68.8%,24,14%,31.2%,67,39%,28,16.3%
28,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2003,205,86,42%,71,34.6%,82.6%,...,23,11.2%,26.7%,15,7.3%,17.399999999999999%,80,39%,39,19%
29,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2004,200,97,48.5%,74,37%,76.3%,...,14,7%,14.4%,23,11.5%,23.7%,78,39%,25,12.5%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25066,Male,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2003,49,28,57.1%,8,16.3%,28.6%,...,8,16.3%,28.6%,20,40.8%,71.4%,15.0,30.6%,5.0,10.2%
25067,Male,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2004,54,38,70.4%,15,27.8%,39.5%,...,15,27.8%,39.5%,23,42.6%,60.5%,8.0,14.8%,8.0,14.8%
25068,Male,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2005,49,34,69.4%,17,34.7%,50%,...,16,32.7%,47.1%,17,34.7%,50%,11.0,22.4%,4.0,8.2%
25069,Male,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006,45,32,71.1%,25,55.6%,78.1%,...,22,48.9%,68.8%,7,15.6%,21.9%,8.0,17.8%,5.0,11.1%
25070,Male,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,2006 Aug,45,32,71.1%,25,55.6%,78.1%,...,22,48.9%,68.8%,7,15.6%,21.9%,8.0,17.8%,5.0,11.1%
25071,Male,32K552,ACADEMY OF URBAN PLANNING,2002,3,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
25072,Male,32K552,ACADEMY OF URBAN PLANNING,2003,63,31,49.2%,14,22.2%,45.2%,...,14,22.2%,45.2%,17,27%,54.8%,23.0,36.5%,8.0,12.7%
25073,Male,32K552,ACADEMY OF URBAN PLANNING,2004,47,25,53.2%,10,21.3%,40%,...,9,19.1%,36%,15,31.9%,60%,18.0,38.3%,2.0,4.3%
25074,Male,32K552,ACADEMY OF URBAN PLANNING,2005,53,28,52.8%,9,17%,32.1%,...,9,17%,32.1%,19,35.8%,67.9%,15.0,28.3%,8.0,15.1%
25075,Male,32K552,ACADEMY OF URBAN PLANNING,2006,50,21,42%,19,38%,90.5%,...,19,38%,90.5%,2,4%,9.5%,24.0,48%,2.0,4%
25076,Male,32K552,ACADEMY OF URBAN PLANNING,2006 Aug,50,27,54%,21,42%,77.8%,...,21,42%,77.8%,6,12%,22.2%,18.0,36%,2.0,4%
25077,Male,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2002,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
25078,Male,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2003,13,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
25079,Male,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2004,11,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
25080,Male,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2005,23,16,69.6%,12,52.2%,75%,...,9,39.1%,56.3%,4,17.4%,25%,7.0,30.4%,0.0,0%
25081,Male,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006,24,21,87.5%,14,58.3%,66.7%,...,11,45.8%,52.4%,7,29.2%,33.3%,2.0,8.3%,1.0,4.2%
25082,Male,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,2006 Aug,24,22,91.7%,15,62.5%,68.2%,...,12,50%,54.5%,7,29.2%,31.8%,1.0,4.2%,1.0,4.2%
25083,Male,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2002,2,s,s,s,s,s,...,s,s,s,s,s,s,s,s,s,s
25084,Male,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2003,47,30,63.8%,3,6.4%,10%,...,3,6.4%,10%,27,57.4%,90%,11.0,23.4%,5.0,10.6%
25085,Male,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2004,34,22,64.7%,10,29.4%,45.5%,...,9,26.5%,40.9%,12,35.3%,54.5%,8.0,23.5%,3.0,8.8%
25086,Male,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2005,40,25,62.5%,9,22.5%,36%,...,9,22.5%,36%,16,40%,64%,8.0,20%,3.0,7.5%
25087,Male,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006,51,25,49%,8,15.7%,32%,...,7,13.7%,28%,17,33.3%,68%,12.0,23.5%,12.0,23.5%
25088,Male,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACAD,2006 Aug,51,26,51%,8,15.7%,30.8%,...,7,13.7%,26.9%,18,35.3%,69.2%,11.0,21.6%,12.0,23.5%
25089,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2001,69,2,2.9%,0,0%,0%,...,0,0%,0%,2,2.9%,100%,63.0,91.3%,4.0,5.8%
25090,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2002,73,4,5.5%,0,0%,0%,...,0,0%,0%,4,5.5%,100%,58.0,79.5%,11.0,15.1%
25091,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2003,65,1,1.5%,0,0%,0%,...,0,0%,0%,1,1.5%,100%,44.0,67.7%,20.0,30.8%
25092,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2004,64,2,3.1%,0,0%,0%,...,0,0%,0%,2,3.1%,100%,38.0,59.4%,22.0,34.4%
25093,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2005,79,3,3.8%,1,1.3%,33.3%,...,1,1.3%,33.3%,2,2.5%,66.7%,46.0,58.2%,28.0,35.4%
25094,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006,57,4,7%,2,3.5%,50%,...,2,3.5%,50%,2,3.5%,50%,34.0,59.6%,17.0,29.8%
25095,Male,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,2006 Aug,57,4,7%,2,3.5%,50%,...,2,3.5%,50%,2,3.5%,50%,34.0,59.6%,17.0,29.8%

I need to select Cohort == 2006

In [37]:
(data["Graduation_outcomes"]['Cohort'] == '2006').any()

True

In [38]:
data["Graduation_outcomes"]['Cohort'].dtype

dtype('O')

In [39]:
data["Graduation_outcomes"] = data["Graduation_outcomes"][data["Graduation_outcomes"]["Cohort"] == "2006"]
data["Graduation_outcomes"] = data["Graduation_outcomes"][data["Graduation_outcomes"]["Demographic"] == "Total Cohort"]